# Visual Studio / .NET
/.vs/
**/bin/
**/obj/
**/Debug/
**/Release/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Dotnet Tools
*.dotnet_tool_src

# User-specific files
*.swp
.vs